@import "colors";

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: SegoeUI;
}

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
}
