.gray {
    background-color: #c9d1d3;
}
.green {
    background-color: #42b883;
}
.blue {
    background-color: #64c4ed;
}
.pink {
    background-color: #ffbbcc;
}
.lime {
    background-color: #b6e6bd;
}
.violete {
    background-color: #c355f5;
}
.black {
    background-color: #09011a;
}
.red {
    background-color: #ff6464;
}

.col-gray {
    color: #c9d1d3;
}
.col-green {
    color: #42b883;
}
.col-blue {
    color: #64c4ed;
}
.col-pink {
    color: #ffbbcc;
}
.col-lime {
    color: #b6e6bd;
}
.col-violete {
    color: #c355f5;
}
.col-black {
    color: #09011a;
}
.col-red {
    color: #ff6464;
}
